{% extends "base.html" %}


 {% block txt_blog %} registrar alojador{% endblock txt_blog %}

{% block todo_blog %}

{% csrf_token %}
	{% if object_list %}
	 	<a href="#" onclick="tableToExcel('TablaCntsAlp', 'W3C Example Table')"> Exportar a excel</a>       
		<a href="{% url 'p_reg' %}">Nuevo proyecto</a>
		<table id="TablaCntsAlp" class="table table-sm">
			<thead>
				<tr style="background:#EFE7E7;">
					<td>pk</td>
					<td>ALP</td>
					<td>NOMBRE</td>
					<td>CLIENTE</td>
					<td>EDITAR</td>
				</tr>
			</thead>
			{% for ob in object_list %}

				<tr style="font-size:0.7em;">
					<td>{{ob.pk}}</td>
					<td>{{ ob.alp }}</td>
					<td>{{ ob.nombre }}</td>
					<td>{{ ob.cliente }}</td>
					<td>
						<a href="{% url 'p_edi' ob.pk %}"><i class="fas fa-edit text-warning"></i></a> |
						<a href="{% url 'p_eli' ob.pk %}"><i class="fas fa-trash-alt text-danger"></i></a>
		
					</td>
				</tr>

			{% endfor %}
		</table>
							
	{% else %}
		<h1>NO HAY Canales</h1>
	{% endif %}






{% endblock todo_blog %}


